<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
    {{>header}}

<div class="container-fluid main_header">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row">
        <!-- left side div -->
        <div class="col-md-6 col-12 main_header_right align-items-center">
            <figure>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOgYI_nY6pWUhqhfI3zNQ2HBZ0_iBYbYQNtceoM53QLAagjI7Zzc9QgFkPMyPRY2NbhjRJP2Mm7S0&usqp=CAU&ec=48600112" alt="error" class="img-fluid">
            </figure>
            </div>
            <!-- right -->
        <div class="col-md-6  col-12 main_header_left">
          <p>Welcome</p>
         <h4 class="xyz">Get the latest <span class="text_clr"> Weather </span> of your city</h4>
          <a href="#" target="_blank"><button>AboutUs</button></a>
        </div>
       
       </div>
         
      </div>
            
    </div>     
  
      
    
  
</div>
<!-- footer section -->
{{>footer}}
</body>
</html>